body   {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden {
    display: none;
}

/* when container is LESS than 640px */
.container  {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

.box    {
    text-align: center;
    color: white;
    margin: 10px;
    width: 95%;
    height: 300px;
    padding-top: 20px;
}

.box1   {
    background-color: pink;
    background-image: url('/images/blossom.png');
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.box2   {
    background-color: red;
    background-image: url('/images/HIM.png');
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.box3, .box4   {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
}

/* when container is MORE than 641px */

@media screen and (min-width: 641px)    {
    .container  {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        max-width: 1140px;
    }

    .box    {
        text-align: center;
        color: white;
        margin: 10px;
        flex-grow: 1;
    }

    .box1   {
        display: block;
        background-color: blue;
        background-image: url('/images/bubbles.png');
        background-size: 50%;
    }

    .box2   {
        display: block;
        background-color: purple;
        background-image: url('/images/mojo.png');
        background-size: 80%;
    }

    .box3   {
        display: block;
        background-color: grey;
        background-image: url('/images/professor.png');
        background-size: 40%;
    }

    .box4   {
        display: block;
        background-color: brown;
        background-image: url('/images/buttercup.png');
        background-size: 50%;
    }
}